/*css*/
nav ul li a#btn_Connexion, nav ul li a#btn_Connexion :link, nav ul li a#btn_Connexion :visited {
    color: white !important;
}

footer {
    color: white;
}
footer a, footer a:link,footer a:visited {
    color: #ededed;
}

.img_Accueil {
    display: flex;
    justify-content: center;
    padding: 50px;
    opacity: 0.5;
}

#container {
    padding: 25px;
}
