/*css*/
nav ul li a#btn_Connexion, nav ul li a#btn_Connexion :link, nav ul li a#btn_Connexion :visited {
    color: white !important;
}

footer {
    color: white;
}
footer a, footer a:link,footer a:visited {
    color: #ededed;
}

.img_Accueil {
    display: flex;
    justify-content: center;
    padding: 50px;
    opacity: 0.5;
}

#container {
    padding: 25px;
}

.head_Connexion {
    margin: 1rem 0;
}
.container form input[type=text], .container form input[type=password],.container form input[type=email],.container form input[type=tel] {
    width: 300px;
}

.container button {
    margin: 1rem 0;
}
